/* .navbar{
    background-color: black!important;
}

.navbar .navbar-brand{
    color: white!important;
}
.navbar .nav-link{
    float: right!important;
    color: white!important;
}
 */
 .nav-item{
    color: white!important;
 }